
.bookListing 
{
    color: #000099;
    margin: 15px, 0px, 15px, 15px;
}

.bookTitle
{
    font-weight: bold;
}

.bookAuthor 
{
    font-style: italic;
}

.category 
{
    margin-left: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
}

.subcategory 
{
    margin-left: 2.0em;
    font-style: italic;
}